body, html {
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    /*color: #2988BC*/;
}

body div, table, span, ul, li, input, select, textarea, a, h6, h5, h4, h3, h2, h1, label {
    border-radius: 0 !important;
}

.btn{
    border-radius: 1px !important;
    border: inherit;
}
h1, h2, h3, h4, h5 {
    text-align: center;
}

input {
    border: none;
    background-color: white !important;
    border-radius: 1px !important;
    border-width: 0px !important;
    box-shadow: 0 -1px 10px -1px rgba(0,0,0,.24) !important;
    /*box-shadow: 0 0 1px rgba(0,0,0,.12),0 0 5px rgba(0,0,0,.24) !important;*/
}

select {
    border-radius: 1px !important;
    box-shadow: 0 0 5px rgba(0,0,0,.12),0 0 20px rgba(0,0,0,.24) !important;
}

.disable {
    background-color: rgba(201, 185, 165, 0.2) !important;
    box-shadow: none !important;
}
