body, html {
    background-color: #e8e6fb;
}

* {
    margin: 0;
    padding: 0;
    /*color: #2988BC*/;
}

body div, table, span, ul, li, input, select, textarea, a, h6, h5, h4, h3, h2, h1, label {
    border-radius: 0 !important;
}

.btn{
    border-radius: 4px;
    border: inherit;
}
h1, h2, h3, h4, h5 {
    text-align: center;
}

input {
    border: none;
    background-color: rgba(201, 185, 165, 0.2) !important;
    border-radius: 4px !important;
}

select {
    border-radius: 4px !important;
}
