.main {
    width: 100%;
    position: relative;
    padding: 35px 25px 35px 25px;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0);
}

div:hover {
	cursor: default;
}

@media (max-width: 767px) {
	.main {
		padding: 30px 20px 20px 20px;
	}

}