.container {
	background-color: #b9c4c9;
}

.text-que {
	margin-bottom: 5px;
	margin-top: 25px;	
	font-size: 30px;

}

.pagination, .btn {
	float: right;
	margin: 10px 5px 5px 0;
}

@media screen and (max-width: 992px) {
	.btn {
		margin-top: 5px;
	}
}

