.profile {
    position: relative;
}

.info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.info > input{
    height: 45px;
    padding: 5px;
    text-align: center;
}

.info a {
    margin-bottom: 0;
    height: 45px;
}

.info span {
    margin-top: 10px;
}

.info > * {
    margin-bottom: 3%;
}

.namesOfShedule > ul {
    list-style-type: none;
    padding-left: 0px;
}

    .namesOfShedule ul li span {
        float: left;
        width: 110px;
        margin-left: 55px;
        margin-right: 55px;
        text-align: center;
    }

hr {
    border: none;
    background-color: lightgrey;
    color: grey;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.wrapperShedule {
    margin-top: 350px;
    box-shadow: 0 0 5px rgba(0,0,0,.12),0 0 20px rgba(0,0,0,.24) !important;
    padding: 15px;
    margin-bottom: 15px;
}

.chart {
    padding: 5px;
    margin-bottom: 3%;
}

    .chart div {
        width: 0;
        border-radius: 0 5px 5px 0 !important;
        transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -webkit-transition: all 1s ease-out;
    }

    .chart div {
        font: 10px sans-serif;
        background-color: #2aabd2;
        text-align: right;
        padding: 3px;
        margin: 5px;
        color: white;
        box-shadow: 2px 2px 2px #666;
    }

    .chart > div {
        font-size: larger;
    }