
<!--<h3>Role from context: {{role}}</h3>-->
<!--<p>ALL (with jwt):</p>-->
<!--<p>{{all}}</p>-->
<!--<p>USERS (without jwt):</p>-->
<!--<p>{{users}}</p>-->

<div ng-if="isAdmin()" class="homeAdmin">
    <p><a>{{tchName}}</a> checked the <a>{{userName}}</a> test 25.07.2016 at 2:30 pm</p>
    <p><a>{{userName}}</a> finished the test 25.07.2016 at 1:30 am</p>
    <p><a>{{tchName}}</a> checked the <a>{{userName}}</a> test 25.07.2016 at 2:30 pm</p>
    <p><a>{{userName}}</a> finished the test 25.07.2016 at 1:30 am</p>
    <p><a>{{tchName}}</a> checked the <a>{{userName}}</a> test 25.07.2016 at 2:30 pm</p>
    <p><a>{{userName}}</a> finished the test 25.07.2016 at 1:30 am</p>
</div>

<div ng-if="isTeacher()" ng-include="'modules/home/teacher/teacher-home.html'"></div>
