<div class="contaoner-fluid">
	<div class="row"> <!--HERE WIIL BE TEMPLATE-->
		<div class="col-xs-12 col-offset-sm-2 col-sm-8">
			<form>
				<label>
					{{$index + 1}}. {{question.question}}
				</label>
				<sound-manager>
	    			<div class="seekBase" seek-track>
    					<div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
					</div>
					<button play-music>Play</button>
					<button pause-music>Pause</button>
					<button stop-music>Stop</button>
    			</sound-manager>
				<div ng-repeat="ans in question.options">
					<input type="checkbox" name="ans" ng-model="omg.tempChoise[$index]" ng-change="changeValidC(currentPage)"> {{ans}}
				</div>	
			</form>
		</div>
	</div>
</div>