nav {
    padding: 10px;
    display: inherit;
    background-color: #F4EADE;
}

img {
    height: 40px;
    width: 120px;
    margin-top: 10px;
}

div {
    display: inline-block;
    vertical-align: middle;
}

span {
    padding: 5px;
    color: #2b669a;
}

a {
    color: #2F496E;
}

.glyphicon-user:before {
    color: #2F496E;
}

.btn-info, .btn-info:hover {
    margin-right: 50px;
    margin-bottom: 13px;
    background-color: #ED8C72 !important;
    background-image: none ! important;
    border-color: #F4EADE;
    color: #F4EADE;
}

.glyphicon-user {
    margin-top: 12px;
    font-size: 25px;
    color: #2b669a;
}

.sandwich {
    display: none;
}

.butLi {
    display: none;
}

.breadcrumb {
    background-color: #F4EADE !important;
    color: #2b669a !important;
}

.active {
    background-color: white !important;
}

@media (max-width: 767px) {
    .nav {
        display: none !important;
    }

    .btn-info {
        margin-right: 25px;
    }

    .sandwich {
        display: inherit;
    }

}

@media (max-width: 480px) {
    .btn-info {
        display: none;
    }

    .sandwich {
        display: inherit;
    }
}

