.header-container div {
    display: inline-block;
    vertical-align: middle;
}

a {
    color: white;
}

.dropdown-menu {
    z-index: 10;
}

.header-container {
    height: 250px;
    margin: 0;
    background-image: url(/assets/images/headerBack4.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wrapperMenu {
    padding: 0;
    text-align: center;
    height: 150px;
}

.dropdown-menu {
    position: relative;
    z-index: 2;
    background-color: inherit;
    position: absolute;
}

    .dropdown-menu > li > a {
        font-size: 15px;
        color: white;
    }

.headerNav li {
    font-size: 20px;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    width: 136px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headerNav > li > a {
    padding: 10px;
    border: 1px solid white;
}

    .headerNav > li > a:hover {
        color: white;
        text-decoration: underline;
    }

.logoProfile {
    width: 100%;
}

.glyphicon {
    color: white;
}

    .glyphicon-user, .glyphicon-tasks {
        padding: 5px;
        margin-top: 7px;
        font-size: 25px;
    }

.sandwich {
    display: none !important;
}


@media (max-width: 767px) {
    .nav {
        display: none !important;
    }

    .btn-info {
        margin-right: 25px;
    }

    .sandwich {
        display: inherit !important;
    }

    .wrapperMenu {
        display: none;
    }

}

@media (max-width: 480px) {
    .btn-info {
        display: none;
    }

    .sandwich {
        display: inherit !important;
    }

    .wrapperHeader {
        display: none;
    }
}

