footer {
    position: fixed;
    bottom: 5px;
    background-color: rgba(23, 31, 36, 1);
}

li::before {
    content: "" !important;
}

.stickyFot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

    .stickyFot > div {
        width: 100%;
    }