.start-test, .req-test {
	width: 180px;
    height: 180px;
	margin-top: 40px;
    margin-bottom: 40px;
	background-image: url("../../../assets/images/happy.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 90px;
    /*font-size: 32px;
    color: #f4eade;*/
}

.start-test:hover, .req-test:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.12),0 0 20px rgba(0,0,0,.24);
}

.start-test:disabled, .req-test:disabled {
	box-shadow: 0 0 0 rgba(0,0,0,0);
	background-image: url("../../../assets/images/sad.png");
	cursor: default;
}


.start {
	/*text-align: center;*/
}

.statistic {
	margin-top: 40px;
}
.info-about-button {
	width: 100%;
    display: block;
	margin-right: 10px;
    margin-left: 10px;	
    margin-top: 50px;
    font-size: 2.3em;
    font-family: 'Pavanam', sans-serif;
}


.date-and-time {
	padding: 0;
	color: green;
	display: block;
	width: inherit;
}
.welcome-all {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.welcome-name {
	margin-bottom: 10px;
	font-size: 2.7em;
	font-family: 'Montserrat', sans-serif;
}
.welcome {
	font-size: 3.3em;
	font-family: 'Montserrat', sans-serif;

}

@media (max-width: 1000px) {
	.info-about-button {
		width: 100%;
		display: block;
    	font-size: 2em;
	} 
}

@media (max-width: 767px) {
	.info-about-button {
    	margin-top: 10px;
    	font-size: 20px;
	} 
	div > .info-about-button {
		text-align: center;
	}

	.start-test, .req-test {
		width: 120px;
    	height: 120px;
    	margin-top: 10px;
    	margin-bottom: 10px;
	}
}

@media(max-width: 710px) {
	.welcome-name {
	font-size: 2.2em;
}
	.welcome {
		font-size: 2.6em;
	}
}

@media (max-width: 550px) {
	.welcome-name {
		font-size: 1.6em;
}
	.welcome {
		font-size: 2em;
	}

}

@media (max-width: 430px) {
	/*.welcome-name {
		font-size: 1.5em;
}*/
	.welcome {
		font-size: 1.8em;
	}

}
@media (max-width: 390px) {
	.welcome {
		font-size: 2.5em;
	}
}


