.start-test, .req-test {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
    width: 185px;
    font-size: 32px;
    color: #f4eade;
}

.start-test {
	background-color: #2988bc;
}

.req-test {
	background-color: #ed8c72;
}

.start {
	text-align: center;
}

.statistic {
	margin-top: 40px;
}
.info-about-button {
	width: 75%;
    display: block;
	margin-right: 10px;
    margin-left: 10px;	
    margin-top: 50px;
    font-size: 25px;
}


.date-and-time {
	padding: 0;
	color: green;
	display: block;
	width: inherit;
}

@media (max-width: 1000px) {
	.info-about-button {
		width: 100%;
		display: block;
    	font-size: 22px;
	} 
}

@media (max-width: 767px) {
	.info-about-button {
    	margin-top: 10px;
    	font-size: 20px;
	} 
	div > .info-about-button {
		text-align: center;
	}

	.start-test, .req-test {
    	margin-top: 10px;
    	margin-bottom: 10px;
	}

}

