<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-offset-1 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
			<p class="ads">Choose type of question </p>
        <select class="form-control" ng-model="qCtrl.selectedQue">
          <option ng-repeat="que in qCtrl.typeOfQuestion" ng-value="que">{{que}}</option>
        </select>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

			<p ng-if="qCtrl.selectedQue === ''" class="ads">Form for a new question will be here</p>
			<p class="ads" ng-if="qCtrl.selectedQue !== ''">You choose : {{qCtrl.selectedQue}}</p>

			<div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[0]">
				<form> 
					<div>
						<p class="ads">Text of question</p>
						<textarea id="qtextarea" placeholder="Write here.."></textarea>
					</div>
					<p class="ads">Add answer options</p>
					<a ng-click="qCtrl.addAnswerItem(0)">
            <span class="glyphicon glyphicon-plus"></span>                	
          </a>
          <a ng-click="qCtrl.removeAnswerItem(0)">
            <span class="glyphicon glyphicon-minus"></span>                	
          </a>
          <div class="input-group" ng-repeat="smth in qCtrl.answers[0]">
      			<span class="input-group-addon">
        			<input type="radio" name="answer" aria-label="...">
      			</span>
      			<input type="text" class="form-control" aria-label="..."> 
      		</div>
          <p class="ads">Level of question</p>
          <input type="text" class="form-control"/>
      		<button class="btn btn-success">Submit</button>
      	</form>
    	</div>

    		<div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[1]">
				  <form> 
  					<div>
  						<p class="ads">Text of question</p>
  						<textarea placeholder="Write here.."></textarea>
  					</div>
  					<p class="ads">Add answer options</p>
  					<a ng-click="qCtrl.addAnswerItem(1)">
              <span class="glyphicon glyphicon-plus"></span>                	
            </a>
            <a ng-click="qCtrl.removeAnswerItem(1)">
              <span class="glyphicon glyphicon-minus"></span>                	
            </a>
            <div class="input-group" ng-repeat="smth in qCtrl.answers[1]">
        			<span class="input-group-addon">
          			<input type="checkbox" name="answer" aria-label="...">
        				</span>
        				<input type="text" class="form-control" aria-label="..."> 
        		</div>
            <p class="ads">Level of question</p>
            <input type="text" class="form-control"/>
        		<button class="btn btn-success">Submit</button>
          </form>
    		</div>

    		<div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[2]">
  				<form> 
  					<div>
  						<p class="ads">Text of question</p>
  						<textarea placeholder="Write here.."></textarea>
  					</div>
            <p class="ads">Level of question</p>
            <input type="text" class="form-control"/>
        		<button class="btn btn-success">Submit</button>
        	</form>
    		</div>

    		<div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[3]">
  				<form> 
  					<div>
  						<p class="ads">Topic for essay</p>
  						<textarea class="sm-textarea" placeholder="Write here.."></textarea>
  					</div>
            <p class="ads">Level of question</p>
            <input type="text" class="form-control"/>
        		<button class="btn btn-success">Submit</button>
        	</form>
    		</div>

        <div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[4]">
          <div>
            <input type="file" nv-file-select uploader="uploader"/>
            <ul>
              <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span>
                <button ng-click="item.upload()">upload</button>
              </li>
            </ul>
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="form-control"/>
          <button class="btn btn-success">Submit</button>
        </div>

        <div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[5]">
        <form> 
          <div>
            <input type="file" nv-file-select uploader="uploader"/>
            <ul>
              <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span>
                <button ng-click="item.upload()">upload</button>
              </li>
            </ul>
          </div>
          <p class="ads">Add answer options</p>
          <a ng-click="qCtrl.addAnswerItem(2)">
            <span class="glyphicon glyphicon-plus"></span>                  
          </a>
          <a ng-click="qCtrl.removeAnswerItem(2)">
            <span class="glyphicon glyphicon-minus"></span>                 
          </a>
          <div class="input-group" ng-repeat="smth in qCtrl.answers[2]">
            <span class="input-group-addon">
              <input type="radio" name="answer" aria-label="...">
            </span>
            <input type="text" class="form-control" aria-label="..."> 
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="form-control"/>
          <button class="btn btn-success">Submit</button>
        </form>
      </div>

      <div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[6]">
        <form> 
          <div>
            <input type="file" nv-file-select uploader="uploader"/>
            <ul>
              <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span>
                <button ng-click="item.upload()">upload</button>
              </li>
            </ul>
          </div>
          <p class="ads">Add answer options</p>
          <a ng-click="qCtrl.addAnswerItem(3)">
            <span class="glyphicon glyphicon-plus"></span>                  
          </a>
          <a ng-click="qCtrl.removeAnswerItem(3)">
            <span class="glyphicon glyphicon-minus"></span>                 
          </a>
          <div class="input-group" ng-repeat="smth in qCtrl.answers[3]">
            <span class="input-group-addon">
              <input type="checkbox" name="answer" aria-label="...">
            </span>
            <input type="text" class="form-control" aria-label="..."> 
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="form-control"/>
          <button class="btn btn-success">Submit</button>
        </form>
      </div>

      <div ng-if="qCtrl.selectedQue === qCtrl.typeOfQuestion[7]">
        <form> 
          <div>
            <p class="ads">Topic for speak</p>
            <textarea class="sm-textarea" placeholder="Write here.."></textarea>
          </div>
          <p class="ads">Level of question</p>
          <input type="text" class="form-control"/>
          <button class="btn btn-success">Submit</button>
        </form>
      </div>

    		<sound-manager>
    			<button music-player add-song="qCtrl.song">+</button>
    			<div class="seekBase" seek-track>
    				<div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
				</div>
				<button play-pause-toggle data-play="Play!" data-pause="Pause!">Play Toggle</button>
				<button stop-music>Stop</button>

    		</sound-manager>

		</div>
	</div>
</div>