.ng-scope {
	width: inherit;
}

.row-fluid {
	width: inherit;
}

.container-fluid {
	width: inherit;
}

.ads{
	margin-top: 10px;
	font-family: "Open Sans",sans-serif;
    font-size: 16px
}

.glyphicon-plus, .glyphicon-minus {
	margin-top: 0;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}

textarea {
	margin-bottom: 10px;
	padding: 10px;
	resize: none;
	width: 400px;
	height: 200px;
}

@media screen and (max-width: 450px) {
	textarea {
	width: 300px;
	}
}

@media screen and (max-width: 350px) {
	textarea {
	width: 200px;
	}
}
