.ng-scope {
	width: inherit;
}

.container-fluid {
	width: inherit;
	color: darkblue !important; 
}

.row-fluid {
	width: inherit;
}

.ads{
	margin-top: 10px;
	font-family: 'Raleway', sans-serif;
    font-size: 16px
}

.glyphicon-plus, .glyphicon-minus {
	margin-top: 0;
}

.input-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	margin-bottom: 10px;
	padding: 10px;
	resize: none;
	width: 400px;
	height: 200px;
	border-color: rgb(204,204,204);
}

.sm-textarea {
	height: 100px;
}

.btn-success {
	display: block;
}

@media screen and (max-width: 450px) {
	textarea {
	width: 300px;
	}
}

@media screen and (max-width: 350px) {
	textarea {
	width: 200px;
	}
}
