<div ng-controller="teacherHomeController">
    <div class="col-sm-8 col-sm-offset-2  col-md-8 col-md-offset-2">
        <label>Tests for checking: </label>
        <br>
        <div ng-if="isShowList" ng-repeat="test in testList" style="height: 50px; display: block">
            <span><strong>{{test.date.toDateString()}}</strong>&nbsp;-&nbsp;</span>
            <span>Level: <strong>{{test.level}}</strong>&nbsp;</span>
            <button type="button" class="btn btn-info btn-sm" ng-click="changeIsShowList()">Check now!</button>
        </div>
        <div ng-if="!isShowList" >
            <h2>Checking</h2>
            <input type="text" style="display: inline; width: 60px;">
            <span>/100 &nbsp;</span>
            <button type="button" class="btn btn-info btn-sm" ng-click="changeIsShowList()">Complete</button>
        </div>
    </div>
</div>