<div class="container" ng-controller="teacherHomeController">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="que in list">
            <div class="card card-teacher">
                <div class="date-color"> {{date[$index]}}</div>
                <div class="level-info">
                    Level: {{que.level}} of 5
                </div>
                <button class="btn-teacher btn-left" ng-click="startCheck($index)" ui-sref="checkTest">Start</button>
            </div>
        </div>
    </div> 
</div>
    <!--div class="col-sm-8 col-sm-offset-2  col-md-6 col-md-offset-2 col-lg-6">
        <h3>Tests for checking: </h3>
        <br>
        <div ng-if="isShowList" ng-repeat="test in testList" style="height: 50px; display: block" class="checkTest">
            <span><strong>{{test.date.toDateString()}}</strong>&nbsp;-&nbsp;</span>
            <span>Level: <strong>{{test.level}}</strong>&nbsp;</span>
            <button type="button" class="btn btn-info btn-sm" ng-click="changeIsShowList()" ui-sref="checkTest">Check now!</button>
        </div>
        <div ng-if="!isShowList" >
            <h2>Checking</h2>
            <input type="text" style="display: inline; width: 60px;">
            <span>/100 &nbsp;</span>
            <button type="button" class="btn btn-info btn-sm" ng-click="changeIsShowList()">Complete</button>
        </div>
    </div-->
