 <div class="login-wrapper">
        <div class="login-container">
            <h1><img src="assets/images/exadel_logo.jpg"  alt="Exadel" class="logo"/></h1>
            <form>
                <p ng-show="isNonValidCreds" class="warning-text">Wrong credentials! Try again.</p>
                <input type="email" ng-model="user.name" class="form-control" placeholder="Username">
                <input type="password" ng-model="user.password" class="form-control" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Log in</button>
            </form>
        </div>
 </div>