<div class="formWrapper">
    <div class="formSelect" ng-controller="assignTchController">
        <div class="form-group sel1">

            <ol class="nya-bs-select" title="Choose teacher" ng-model="selectedItem2" data-live-search="true" ng-change="chooseTeacher(selectedItem2)">
                <li nya-bs-option="teacher in teachers">
                    <a>
                        {{ teacher.fullName }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>

            <input type="text" size="40" ng-model="tchName" placeholder="Teacher's name" class="disable" disabled>
            <input type="text" size="40" ng-model="tchMail" placeholder="Teacher's mail" class="disable" disabled>
            <input type="text" size="40" ng-model="tchTel" placeholder="Teacher's telephone" class="disable" disabled>
        </div>
        <div class="form-group sel2">

            <ol class="nya-bs-select" title="Choose student" ng-model="selectedItem3" data-live-search="true" ng-change="chooseUser(selectedItem3)">
                <li nya-bs-option="student in students">
                    <a>
                        {{ student.fullName }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>

            <input type="text" size="40" ng-model="stdName" placeholder="User's name" class="disable" disabled>
            <input type="text" size="40" ng-model="stdMail" placeholder="User's mail" class="disable" disabled>
            <input type="text" size="40" ng-model="stdTel" placeholder="User's telephone" class="disable" disabled>
        </div>
        <button class="btn btn-primary btn-block submit-tch" type="submit" ng-click="submitTchStd()">Submit</button>
    </div>


</div>