.formWrapper {
    padding: 30px;
    position: relative;
}

.sel1 > *, .sel2 > * {
    margin-top: 3%;
}

.sel1Tch, .sel2Tch {
    padding: 10px;
    display: inline-block;
    width: 49%;
}

.sel1 > input, .sel2 > input {
    display: block;
    height: 45px;
    width: 100%;
}

.sel1 > ol, .sel2 > ol {
    width: 100% !important;
}

.formSelect {
    display: inline-block;
}

/*.col-centered {*/
    /*float: none;*/
    /*margin: 0 auto;*/
/*}*/

.btn-block {
    width: 100%;
    text-align: center;
}

.submit-tch {
    width: 25%;
    margin: 10px;
}

.comment {
    color: gray;
    padding: 10px;
}
