.btn-block {
    width: 100%;
}

.step2 {
    padding: 15px;
}

.formSelect {
    display: inline-block;
}

.step1, .step2 {
    display: inline-block;
}

/*.firstCalendar, .secondCalendar {*/
    /*margin-bottom: 5%;*/
/*}*/