<div class="formWrapper col-sm-12 col-md-12 col-lg-12">
    <div class="formSelect col-sm-12 col-md-12 col-lg-12" ng-controller="assignTchController">
        <div class="step1 col-sm-5 col-md-5 col-lg-5">
            <div class="form-group sel2">

                <ol class="nya-bs-select" title="Choose student" ng-model="selectedItem4" data-live-search="true" ng-change="hasChanged(selectedItem4)">
                    <li nya-bs-option="student in students">
                        <a>
                            {{ student.fullName }}
                            <span class="glyphicon glyphicon-ok check-mark"></span>
                        </a>
                    </li>
                </ol>

                <input class="col-sm-12 col-md-12 col-lg-12" type="text" size="40" ng-model="stdName" placeholder="User's name" disabled>
                <input class="col-sm-12 col-md-12 col-lg-12" type="text" size="40" ng-model="stdMail" placeholder="User's mail" disabled>
                <input class="col-sm-12 col-md-12 col-lg-12" type="text" size="40" ng-model="stdTel" placeholder="User's telephone" disabled>


                <div class='firstCalendar'>
                    <div class="form-group">
                        <div class='input-group' id='datetimepicker2'>
                            <input type='text' class="form-control col-sm-12 col-md-12 col-lg-12" ng-model="input.dateStart" ng-change="input.changeDate()" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                        </div>
                    </div>
                </div>


                <div class='secondCalendar'>
                    <div class="form-group">
                        <div class='input-group' id='datetimepicker3'>
                            <input type='text' class="form-control col-sm-12 col-md-12 col-lg-12" ng-model="dateEnd" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 cal1">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" ng-change="myCal(dt)" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>

                <div class="col-md-12 cal1">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt2" ng-change="myCal(dt2)" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                    </p>
                </div>



                <button class="btn btn-primary btn-block" type="submit" ng-click="addStudent()">Add student</button>
                <button class="btn btn-primary btn-block" type="submit" ng-click="reset()">Reset</button>
            </div>
        </div>


        <div class="step2 col-sm-3 col-md-3 col-lg-3">
            <div class="form-group sel4">
                <label for="sel4">Choosen students</label>
                <select ng-model="studentList" class="form-control" id="sel4" multiple="multiple" ng-options="user for user in showList"></select>
                <button class="btn btn-primary btn-block" type="submit" ng-click="submitStudentsList()">Submit</button>
            </div>
        </div>


    </div>
</div>