<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12 col-sm-offset-2 col-sm-7 col-md-offset-2 col-md-7 col-lg-offset-2 col-lg-7">

            <form name="user" class="formAddUser" novalidate>
                <label>First name: </label>
                <span ng-show="user.first.$error.required && user.first.$dirty" class="error-mes">This field is required</span>
                <input type="text" name="first" ng-model="firstMd" class="form-control" aria-label="..." placeholder="Ivan" required/>
                <label>Second name: </label>
                <span ng-show="user.second.$error.required && user.second.$dirty" class="error-mes">This field is required</span>
                <input type="text" name="second" ng-model="secondMd" class="form-control" aria-label="..." placeholder="Petrov" required>
                <label>E-mail adress: </label>
                <span ng-show="user.email.$error.required && user.email.$dirty" class="error-mes">This field is required</span>
                <span ng-show="user.email.$invalid && user.email.$dirty && !user.email.$error.required" class="error-mes">Enter valid e-mail address</span>
                <input type="email" name="email" ng-model="emailMd" class="form-control" aria-label="..." placeholder="someadress@post.com" required>
                <label>Phone number: </label>
                <span ng-show="user.phnumber.$error.required && user.phnumber.$dirty" class="error-mes">This field is required</span>
                <span ng-show="user.phnumber.$invalid && user.phnumber.$dirty && !user.phnumber.$error.required" class="error-mes">Enter valid phone number</span>
                <input type="text" name="phnumber" ng-model="phnumberMd" class="form-control" aria-label="..." placeholder="+375299379992" ng-pattern="'[+]{1}[375]{1}[0-9]{11,11}'" required>
                <button class="btn btn-success" ng-disabled="user.$invalid" ng-click = "newUser()">Submit</button>
            </form>



        </div>
    </div>
</div>
<!--div class="container">
<div class="panel-body">
<form id="registration-form" method="POST" class="form-horizontal" action="#">
<div class="form-group">
<label class="control-label col-sm-2" for="name">User:</label>
<div class="col-sm-4">
<input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
</div>
</div>
<div class="form-group">
<label class="control-label col-sm-2" for="surname">Surname:</label>
<div class="col-sm-4">
<input type="text" class="form-control" id="surname" name="surname" placeholder="Enter surname">
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="email">Email Address</label>
<div class="col-sm-4">
<input type="text" class="form-control" id="email" name="email" placeholder="Your email address" />
</div>
</div>
<div class="form-group">
<label class="col-sm-2 control-label" for="password">Password</label>
<div class="col-sm-4">
<input type="password" class="form-control" id="password" name="password" placeholder="Password" />
</div>
</div>
<div class="form-group">
<div class="col-sm-4 col-sm-offset-2">
<p style="text-align: center"><button type="submit" class="btn btn-success">Submit</button></p>
</div>
</div>
</form>
<div id="confirmation" class="alert alert-success hidden">
<span class="glyphicon glyphicon-star"></span> Thank you for registering
</div>
</div>
</div-->