.error-mes {
    display: block;
    color: red;
}

.dateTime {
    width: 100%;
}

.dateTime > div:first-child{
    margin-top: 33px;
}

.dateTime  div {
    padding: 0 !important;
}

.submitNewUser {
    width: 100% !important;
}

.formAddUser label{
    margin-top: 10px;
}