.error-mes {
    display: inline-block;        
    color: #c53535;
    font-size: 1.3em;
}

.dateTime {
    width: 100%;
}

    .dateTime > div:first-child {
        margin-top: 33px;
    }

    .dateTime  div {
        padding: 0 !important;
    }

.time > table{
   float: right;
}

.chooseDateTime {
    width: 255px;
    position: inherit;
    left: 0;
    right: 0;
    margin: auto;
}

.submitNewUser {
    width: 85px;
    left: 0;
    right: 0;
    bottom: -45px;
    margin: auto;
    position: absolute;
}

.formAddUser label {
    margin-top: 10px;
}

.newUserDate img {
    padding: 0;
    width: 35px;
    height: 35px;
}

.newUserDate h4 {
    display: inline-block;
}