.error-mes {
    display: inline-block;        
    color: #c53535;
    font-size: 1.3em;
}

.dateTime {
    width: 100%;
}

.dateTime > div:first-child {
    margin-top: 33px;
}

.dateTime  div {
    padding: 0 !important;
}

/*.dateTime button {*/
    /*background-image: url(assets/images/icons/date.png);*/
/*}*/

.submitNewUser {
    width: 100% !important;
}

.formAddUser label {
    margin-top: 10px;
}

.newUserDate img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.newUserDate h4 {
    display: inline-block;
}