<div ng-controller="newUserController">
    <div class="pull-left col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <img src="assets/images/icons/addUser.png">
        <h3>Create guest</h3>
            <form name="user" class="formAddUser"  ng-model="formAddingUser" novalidate>
                <label>First name: </label>
                <!--<span ng-show="user.first.$error.required && user.first.$dirty" class="error-mes">This field is required</span>-->
                <input ng-focus="true" type="text" name="first" ng-model="firstMd" class="form-control" aria-label="..." placeholder="Ivan" required/>
                <label>Second name: </label>
                <!--<span ng-show="user.second.$error.required && user.second.$dirty" class="error-mes">This field is required</span>-->
                <input type="text" name="second" ng-model="secondMd" class="form-control" aria-label="..." placeholder="Petrov" required>
                <label>E-mail adress: </label>
                <!--<span ng-show="user.email.$error.required && user.email.$dirty" class="error-mes">This field is required</span>-->
                <span ng-show="user.email.$invalid && user.email.$dirty && !user.email.$error.required" class="error-mes">Enter valid e-mail address</span>
                <input type="email" name="email" ng-model="emailMd" class="form-control" aria-label="..." placeholder="someadress@post.com" required>
                <label>Phone number: </label>
                <!--<span ng-show="user.phnumber.$error.required && user.phnumber.$dirty" class="error-mes">This field is required</span>-->
                <span ng-show="user.phnumber.$invalid && user.phnumber.$dirty && !user.phnumber.$error.required" class="error-mes">Enter valid phone number</span>
                <input type="text" name="phnumber" ng-model="phnumberMd" class="form-control" aria-label="..." placeholder="+375299379992" ng-pattern="'[+]{1}[375]{1}[0-9]{11,11}'" required>
            </form>
    </div>
    <div class="pull-right col-xs-5 col-sm-5 col-md-5 col-lg-5 newUserDate">
        <img src="assets/images/icons/time.png">
        <h4>Choose date and time for test:</h4>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-left dateTime">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cal1 pull-left">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 time pull-right">
                <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right dateTime">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 cal1 pull-left">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened" min-date="minDate2" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                </p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 time pull-right">
                <div uib-timepicker ng-model="mytime2" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
            </div>
        </div>
        <button class="btn btn-info submitNewUser" ng-disabled="user.$invalid || !dt || !dt2 || !mytime || !mytime2" ng-click = "newUser()" >Submit</button>

    </div>
</div>